@model SchoolPlanner.Models.SchoolActivity

@{
    ViewData["Title"] = "Edit";
}

@section Styles {
    <link href="@Url.Content("~/css/editStyle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="@Url.Content("~/js/act.js")" type="text/javascript"></script>
}

<h1>Edit</h1>

<h4>SchoolActivity</h4>
<hr />

<input type="hidden" asp-for="Id" />
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputRoom">Select Room</label>
    </div>
    <select class="custom-select" id="inputRoom">
        <option selected>@Model.Room</option>

    </select>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroup">Select Group</label>
    </div>
    <select class="custom-select" id="inputGroup">
        <option selected>@Model.Group</option>

    </select>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputClass">Select Class</label>
    </div>
    <select class="custom-select" id="inputClass">
        <option selected>@Model.Class</option>
    </select>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputSlot">Select Slot</label>
    </div>
    <select class="custom-select" id="inputSlot" disabled>
        <option selected>@Model.Slot</option>
    </select>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputTeacher">Select Teacher</label>
    </div>
    <select class="custom-select" id="inputTeacher">
        <option selected>@Model.Teacher</option>
    </select>
</div>

<button id="button_save" type="button" class="btn btn-primary btn-lg btn-block">Save</button>
<button id="button_delete" type="button" class="btn btn-danger btn-lg btn-block">Delete</button>
<div>
    <a asp-action="Index">Back to List</a>
</div>
